.sidebar{
    position:  fixed;
    width: 360px;
    height: 100%;
    z-index: 0;
    /* display: inline-block; */
    /* background: black; */
}
.link_menu{
    margin-left: 50px;
    margin-top: 80px;
}
.main{
    position: relative;
    margin-left: 360px;
    /* width: calc(100%-200px); */
    height: 100%;
    z-index: 5;
}
.logo{
    /* text-align: center; */
    margin-left: 90px;
    margin-top: 50px;
}
.logo_img{
    display: inline;
}
.logo_name{
    display: inline;
    vertical-align: middle;
}
.uk-list>li:nth-child(n+2), .uk-list>li>ul{
    margin-top: 50px;
}

.link_item{
    width: 200px;
}

.link_item:hover{
    box-shadow: inset 0 -3px 0 0 #2E54BA; 
    color: black;
}

.uk-link-text a:hover, .uk-link-toggle:focus .uk-link-text, .uk-link-toggle:hover .uk-link-text, a.uk-link-text:hover {
    color: black;
    text-decoration: none;
}
.first{
    background-image: url('../img/bg.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.first_content{
    padding-top: 180px;
    padding-left: 5%;
    font-family: 'Montserrat', sans-serif;
}
.pay{
    width: 319px;
    height: 76px;
    border: none;
    margin-top: 60px;
    background: url("../img/pay.png");
    /* background-size: cover */
}
.pay:hover{
    background: url("../img/pay_hover.png");
    /* background-size: cover */
}
/* .carousel{
    padding: 0;
    list-style: none;
  }
li{
    margin: 0;
    float: left;
    width: 500%;
  }
  .owl-item{
    transition: all 250ms ease-out;
    transform: translate3d(0px, 0px, 0px) scale(1);
  } */
  .card_text{
    margin: 20px;
    vertical-align: middle;
    font-family: 'Montserrat'; 
    font-weight: 300;
    /* margin-top: 70px; */
  }
.owl-page.active span{
    background: red;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
    background:#2851c1;
    border: 3px solid #2851c1;
    opacity: 0.4;
}
.owl-theme .owl-controls .owl-page span{
    background: white;
    border: 3px solid #2851c1;
}
.more_dots{
    position: absolute;
    right: 10;
    bottom: 10;
}
.get_pres{
    margin-top: 150px;
    display: flex;
}
.card_pres{
    margin-top: 200px;
    width: 50%;
}
.get_pres_head{
    font-family: "Montserrat";
    font-weight: 300;
}
.get_pres_text{
    font-family: "Montserrat";
    font-weight: 300;
    color: #8b8fa0;
}
.get_pres_button{
    background-image: url('../img/get_pres.png');
    border: none;
    width: 362px;
    height: 76px;
}
.get_pres_button:hover{
    background-image: url('../img/get_pres_hover.png')
}
.act{
    margin-top: 100px;
}
.act_head{  
    font-family: "Montserrat";
    font-weight: 800;
    margin-left: 50px;
}
.uk-card-body{
    height: 200px;
}
.owl-wrapper{
    height: 400px;
}
.act_img{
    margin-left: 20px;
}
.indicator{
    position: absolute;
    right: 20;
    bottom: 20;
}
.list{
    background-image: url('../img/bg_list.png');
    background-size: cover;
    width: 100%;
    height: 777px;
}
.list>ul {
    list-style: none;
    padding: 0;
  }
  .list>ul>li {
    /* padding-left: 30px; */
    margin: 50px;
    padding-top: 50px;
    color: white;
    width: 50%;
  }
  .list>ul>li:before {
    content: url("../img/pointer.png");
    /* display: inline-block; */
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
  }
.list_item{
    margin-top: -15px;
    margin-left: 40px;
    font-family: 'Montserrat';
    font-weight: 300;
}

.green_list{
    list-style: none;
    margin-left: 30px;
    margin-top: 40px;
}
.green_item{
    margin-top: -30px;
    margin-left: 50px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: italic;
}
.green_list>li::before{
    content: url("../img/green_point.png")
}
.uk-card-body{
    height: 200px;
}